<!-- container for google map -->
<div id="map"></div>

<!-- container for date slider  -->
<div id="slider_container"><input type="text" id="slider" /></div>

<div id="eartquake_toolbar" class="toolbar">
	<h3>Earthquake Controls</h3>
	<hr/>
	<input type="checkbox" class='marker-button' id="earthquake-marker-button">
	<label>Markers</label>
	<input type="checkbox" class='heatmap-button' id="earthquake-heatmap-button">
	<label>Heatmap</label>
	<label>Magnitude range: </label>
</div>
<div id="eruption_toolbar" class="toolbar">
	<h3>Eruption Controls</h3>
	<hr/>
	<input type="checkbox" class='marker-button' id="eruption-marker-button">
	<label>Markers</label>
	<input type="checkbox" class='heatmap-button' id="eruption-heatmap-button">
	<label>Heatmap</label>
	<label>VEI range: </label>
</div>
