#map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -999;
  background-color: #CCC;
}

#slider_container {
  position: absolute;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  bottom: 10px;
}

/*
  sets the z index for markers to prevent markers
  from covering other markers
*/
.z-1 { z-index: 11 }
.z-2 { z-index: 12 }
.z-3 { z-index: 13 }
.z-4 { z-index: 14 }
.z-5 { z-index: 15 }
.z-6 { z-index: 16 }
.z-7 { z-index: 17 }
.z-8 { z-index: 18 }
.z-9 { z-index: 19 }
.z-10 { z-index: 20 }
.z-11 { z-index: 21 }
.z-12 { z-index: 22 }
.z-13 { z-index: 23 }
.z-14 { z-index: 24 }
.z-15 { z-index: 25 }
.z-999 { z-index: 999 }


/* hide google stuff */
.gm-style-cc, #map > div > div:nth-child(2) > a > div > img { 
  display:none; 
}

/*#map img[src*='kml'] {
    opacity: .4;
}*/

.toolbar {
  width: 150px;
  background-color: #ED5565;
  color: white;
  margin: 0px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 3px;
  clear: both;
  float: right;
  font-size: 9pt;
}

#title {
  position: absolute;
  padding: 3px;
  left: 10px;
  top: 10px;
  width: 120px;
  height: 70px;
  background-color: #ED5565;
  color: white;
}

h2, h3 {
  margin: 0px;
  padding: 0px;
}

hr {
  margin-top: 3px;
  margin-bottom: 4px;
}

a {
  color: white;
}
